* {
    box-sizing: border-box;
}

p {
    background-color: blue;
    color: yellow;
    padding: 14px 24px;
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

h1 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;


}

.img {
    width: 200px;
}

h3 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
}